/* load the default Redmine stylesheet */
@import url(application.css);

/*                                                      
                                    _/            _/         
   _/_/_/  _/_/      _/_/      _/_/_/  _/    _/  _/    _/_/_/
  _/    _/    _/  _/    _/  _/    _/  _/    _/  _/  _/    _/ 
 _/    _/    _/  _/    _/  _/    _/  _/    _/  _/  _/    _/  
_/    _/    _/    _/_/      _/_/_/    _/_/_/  _/    _/_/_/


Theme:		Modula Mojito
Updated:	10/7/09
Author:		www.modula.fi		

*/

@import url(application.css);

body, #wrapper { background-color:#3c3c3c; font-family: helvetica, "microsoft sans serif", arial, sans-serif; }

a, a:link, a:visited { color: #7aa054; outline:none;}
a:hover { text-decoration: none; color: #455138;}
#sidebar label, #sidebar a:link, #sidebar a:hover, #sidebar a:active, #sidebar a:visited { color: #f0f0f0; }

#header, #top-menu { margin: 0; }
#header { background-color: #3c3c3c; padding: 8px 0 0 0; height: 6em; }
#header h1 { margin: 0 24px; }
#header #quick-search { margin: 0 24px; }
#top-menu { background-color: #2e2e2e; font-size: .9em; position: relative; margin-left: -.3em; padding: 0; height: 21px }
#top-menu ul { padding: 0 21px; }
#top-menu li, #top-menu #loggedas { color: #ddd; line-height: 21px; margin-right: 0px;}
#top-menu li a { color: #aaa; font-weight: normal; padding:4px 5px; }
#top-menu li a:hover { color: #fff; text-decoration: none; }
#main { background: #3c3c3c; margin: 0 24px 0px 24px; }
#content { 
	background: #fff; 
	width: 74.5%;
	-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px;
}
#sidebar { width: 21.5%; }
#sidebar p { color: #f0f0f0;}
#footer { background-color:#3c3c3c; border: 0px; clear: left; color:#666666; font-size:9px; margin:4px 0 20px 20px; padding-bottom:15px; text-align:left; }
#footer a:hover { background:#666666 none repeat scroll 0 0; color:#FFFFFF !important;}
#footer a:link, #footer a:visited { color:#666666; }

p.subtitle {
	font-style:normal;
}

/* Headers */
h1, h2, h3, h4 { font-family: helvetica neue, helvetica, "microsoft sans serif", arial, sans-serif; }
.wiki h1, .wiki h2, .wiki h3, .wiki h4 { font-family: helvetica neue, helvetica, "microsoft sans serif", arial, sans-serif; }
h1 { color: #cde9a7; font-size: 24px; font-weight: normal; margin:0pt 0pt 0pt 0.25em; padding:0pt 0pt 10px; text-align:left; }
h2, h3, h4, .wiki h1, .wiki h2, .wiki h3 { border-bottom: 0px;}

h2, .wiki h1 { 
	background-color: #cde9a7; 
	margin: 2px 0px 10px; 
	padding: 10px .7em; 
	font-size: 21px;
	font-weight: normal;
	font-family: baskerville, Times, Times New Roman, serif;
	color: #455138;
	border: 1px #adde6b solid;
	-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px;
}
.wiki h1 { font-family: helvetica, "microsoft sans serif", arial, sans-serif; }
.wiki h2 { background-color: #fff; }

h3, h4 { font-weight: normal; color: #7aa054;}

#sidebar h3 { color: #cde9a7; border-bottom:1px solid #989898; padding:6px 0; }

/* Links */

#sidebar a:hover { background-color:#003399; color:#FFFFFF; text-decoration: none;}

/* Menu */
#main-menu { margin: 0 1.5em; margin-bottom: -2px;}
#main-menu li a { font-weight: normal; padding:6px 8px 8px; }
#main-menu li a:hover { 
	color: #FFA500;
	background: transparent; 
	text-decoration: none; 
}
#main-menu li a.selected, #main-menu li a.selected:hover { 
	background-color:#fff; 
	color: #111; 
	-moz-border-radius-topleft: .3em; -webkit-border-top-left-radius: .3em;
	-moz-border-radius-topright: .3em; -webkit-border-top-right-radius: .3em;
}

/* Settings menu */

#content .tabs ul li a {
	font-weight: normal;
	font-size: .9em;
	border-top: 1px #fff solid;
	border-right: 1px #fff solid;
	border-left: 1px #fff solid;
	background: #fff;
	-moz-border-radius-topleft: .3em; -webkit-border-top-left-radius: .3em;
	-moz-border-radius-topright: .3em; -webkit-border-top-right-radius: .3em;
}

#content .tabs ul li a:hover {
	background: #fff;
	color: #FFA500;
}

#content .tabs ul li a.selected {
	font-weight: normal;
	color:#455138;
	-moz-border-radius-topleft: .3em; -webkit-border-top-left-radius: .3em;
	-moz-border-radius-topright: .3em; -webkit-border-top-right-radius: .3em;
}

/* Tables */
table.list { border: none; }
table.list th { background-color: #fff; }
table.list tbody td, table.list tbody tr td { border-bottom: solid 1px #ddd; padding:4px 10px 4px 3px; }
table.list thead th {
	border: none;
	border-bottom:1px solid #999999;
	font-size:9px;
	font-weight:normal;
	padding:0pt 3px 3px;
	text-transform:uppercase;
}

table.list thead th a { color: #2e2e2e; }
table.list thead th a:hover { color: #2e2e2e; }

/* Issues grid styles by priorities (provided by Wynn Netherland) */
table.list tr.issue a { color: #3c3c3c; }

tr.odd.priority-5, table.list tbody tr.odd.priority-5:hover { color: #900; font-weight: bold; }
tr.odd.priority-5 { background: #ffc4c4; }
tr.even.priority-5, table.list tbody tr.even.priority-5:hover { color: #900; font-weight: bold; }
tr.even.priority-5 { background: #ffd4d4; }
tr.priority-5 a, tr.priority-5:hover a { color: #900; }
tr.odd.priority-5 td, tr.even.priority-5 td { border-color: #ffb4b4; }

tr.odd.priority-4, table.list tbody tr.odd.priority-4:hover { color: #900; }
tr.odd.priority-4 { background: #ffc4c4; }
tr.even.priority-4, table.list tbody tr.even.priority-4:hover { color: #900; }
tr.even.priority-4 { background: #ffd4d4; }
tr.priority-4 a { color: #900; }
tr.odd.priority-4 td, tr.even.priority-4 td { border-color: #ffb4b4; }

tr.odd.priority-3, table.list tbody tr.odd.priority-3:hover { color: #900; }
tr.odd.priority-3 { background: #fee; }
tr.even.priority-3, table.list tbody tr.even.priority-3:hover { color: #900; }
tr.even.priority-3 { background: #fff2f2; }
tr.priority-3 a { color: #900; }
tr.odd.priority-3 td, tr.even.priority-3 td { border-color: #fcc; }

tr.odd.priority-1, table.list tbody tr.odd.priority-1:hover { color: #559; }
tr.odd.priority-1 { background: #eaf7ff; }
tr.even.priority-1, table.list tbody tr.even.priority-1:hover { color: #559; }
tr.even.priority-1 { background: #f2faff; }
tr.priority-1 a { color: #559; }
tr.odd.priority-1 td, tr.even.priority-1 td { border-color: #add7f3; }

p.breadcrumb {
	background-color:#EEEEEE;
	border-bottom:1px solid white;
	font-size:0.9em;
	margin:-6px -10px 6px;
	padding:6px;
	text-indent:15px;
}

/* Fields */
input[type='text'], input[type='password'], textarea { font-size: 13px; font-family: Andale Mono,Lucida Console,Monaco,fixed,monospace; }
input[type="text"], textarea, select { padding: 2px;  }
input[type="text"]:focus, textarea:focus, select:focus {  }
option {  }
input#issue_subject { font-size: 200%; width: 90%; }
input#issue_subject, #project_description { width: 92.5%; }
textarea#issue_description { width: 93%;}

/* Misc */
input[type="text"], textarea, select {
	border: 1px #989898 solid;
	background-color: #F5F5F5;
	-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px;
}

.nodata, #login-form table, .flash.notice {
	border-width: 1px;
	-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px;
}

.box { 
	background-color: #fcfcfc;
	border-top: 1px #eee solid;
	border-right: 1px #ccc solid;
	border-bottom: 1px #ccc solid;
	border-left: 1px #eee solid;
	-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px;
}

#attachments_fields input[type="text"] {
	width: 39%;
}

.jstElements { margin-right: 3.5em;}
.tabular label { font-weight: normal;}

.contextual { margin-top: 1.4em; margin-right: 1em; font-size: 0.9em;}
.contextual a{ color:#455138;}


table.list thead th {
	font-size:.8em;
}

tr.message td.last_message { 
	font-size:.9em;
}

div#activity dl, #search-results {
	margin-left:0em;
}
div#activity dd, #search-results dd {
	font-size:1em;
}

span.description { margin: .5em 0;}

hr { background:#eee none repeat scroll 0% 0%; }
