<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>{{issue.tracker.name}} #{{issue.id}}: {{issue.subject}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="description" content="Redmine" />
<meta name="keywords" content="issue,bug,tracker" />
<link rel='shortcut icon' href='{{static_url("favicon.ico")}}' />
<link rel="stylesheet" media="all" href="{{static_url('theme_application.css')}}" />
<link rel="stylesheet" media="all" href="{{static_url('responsive.css')}}" />
<link rel="stylesheet" media="screen" href="{{static_url('context_menu.css')}}" />
<script type="text/javascript">
(function() {
"use strict";

function main()
{
    const now = Date.now() / 1000;

    for (let el of document.getElementsByTagName("a"))
    {
        let ds = el.dataset;
        if (!ds) continue;
        let ts = el.dataset.ts;
        if (!ts) continue;
        ts = +ts;
        let days = Math.round((now - ts) / 86400);
        let formatted;
        if (days > 700)
            formatted = `about ${Math.round(days/365)} years ago`
        else if (days > 60)
            formatted = `about ${Math.round(days/30)} months ago`
        else
            formatted = `${days} days ago`
        el.textContent = formatted;
    }
}

window.addEventListener("DOMContentLoaded", main);

})();
</script>
</head>
<body class="theme-Modula mojito project-tails controller-issues action-show">

{% macro progress(value) -%}
<table class="progress progress-{{value}}">
<tr>
  <td style="width: {{value}}%;" class="closed" title="{{value}}%"></td>
  <td style="width: {{100-value}}%;" class="todo"></td>
</tr>
</table>
{%- endmacro %}

{% macro link_to_user(user) -%}
{% if user %}<span class="user active">{% if user.name %}{{user.name}}{% else %}{{user.login}}{% endif %}</span>{% endif %}
{%- endmacro %}

<div id="wrapper">
<div id="wrapper2">
<div id="wrapper3">
<div id="header">
    <h1><span class="current-project">{{issue.project.name}}</span></h1>

{#
    <div id="main-menu" class="tabs">
        <ul><li><a class="overview" href="/code/projects/tails">Overview</a></li><li><a class="activity" href="/code/projects/tails/activity">Activity</a></li><li><a class="roadmap" href="/code/projects/tails/roadmap">Roadmap</a></li><li><a class="issues selected" href="/code/projects/tails/issues">Issues</a></li><li><a class="repository" href="/code/projects/tails/repository">Repository</a></li></ul>
        <div class="tabs-buttons" style="display:none;">
            <button class="tab-left" onclick="moveTabLeft(this); return false;"></button>
            <button class="tab-right" onclick="moveTabRight(this); return false;"></button>
        </div>
    </div>
#}
</div>

<div id="main" class="">

<div id="content">

<h2>{{issue.tracker.name}} #{{issue.id}}</h2>

<div class="issue tracker-2 status-9 priority-4 priority-default parent details">

<div class="subject">
	<div><h3>{{issue.subject}}</h3></div>
</div>

<p class="author">
  Added by {{link_to_user(issue.author)}} {{issue.created_on|datetime}}.
	Updated {{issue.updated_on|datetime}}.
</p>

<div class="attributes">
<div class="splitcontent">
	<div class="splitcontentleft">
		<div class="status attribute"><div class="label">Status:</div><div class="value">{{issue.status.name}}</div></div>
    <div class="priority attribute"><div class="label">Priority:</div><div class="value">{{issue.priority.name}}</div></div>
    <div class="assigned-to attribute"><div class="label">Assignee:</div><div class="value">{{link_to_user(issue.assigned_to)}}</a></div></div>
    <div class="category attribute"><div class="label">Category:</div><div class="value">{% if issue.category %}{{issue.category.name}}{% endif %}</div></div>
    <div class="fixed-version attribute"><div class="label">Target version:</div><div class="value"><a>{% if issue.fixed_version %}{{issue.fixed_version.name}}{% endif %}</a></div></div>
  </div>
  <div class="splitcontentleft">
    <div class="start-date attribute"><div class="label">Start date:</div><div class="value">{{issue.start_date}}</div></div>
    <div class="due-date attribute"><div class="label">Due date:</div><div class="value">{{issue.due_date}}</div></div>
    <div class="progress attribute"><div class="label">% Done:</div><div class="value">{{progress(issue.done_ratio)}}<p class="percent">{{issue.done_ratio}}%</p></div></div>
	</div>
</div>

<div class="splitcontent">
  <div class="splitcontentleft">
    <div class="cf_11 attribute"><div class="label"><span>{{custom_fields.11.name}}</span>:</div><div class="value">{{custom_fields.11.value}}</div></div>
    <div class="cf_15 attribute"><div class="label"><span>{{custom_fields.15.name}}</span>:</div><div class="value">{{custom_fields.15.value}}</div></div>
    <div class="cf_16 attribute"><div class="label"><span>{{custom_fields.16.name}}</span>:</div><div class="value"><p><a class="external" href="{{custom_fields.16.value}}">{{custom_fields.16.value}}</a></p></div></div>
  </div>
  <div class="splitcontentleft">
    <div class="cf_17 attribute"><div class="label"><span>{{custom_fields.17.name}}</span>:</div><div class="value">{{custom_fields.17.value}}</div></div>
    <div class="cf_18 attribute"><div class="label"><span>{{custom_fields.18.name}}</span>:</div><div class="value">{{custom_fields.18.value}}</div></div>
    {# TODO: 19 is PRIVATE #}
    <div class="cf_19 attribute"><div class="label"><span>{{custom_fields.19.name}}</span>:</div><div class="value">{{custom_fields.19.value}}</div></div>
  </div>
</div>
</div>

<hr />
<div class="description">
  <div class="contextual">
  </div>

  <p><strong>Description</strong></p>
  <div class="wiki">
    {{issue.description|textile}}
  </div>
</div>

{% if issue['attachments'] %}
  <hr />
  <p><strong>Files</strong></p>
  {# <%= link_to_attachments @issue, :thumbnails => true #}

  <div class="attachments">
    <table>
      <tbody>
        {% for a in issue["attachments"] %}
        <tr>
          <td>
            {{a|attachment}}
            <span class="size">({{a['filesize']}} B)</span>
          </td>
          <td>
            <span class="author">{{link_to_user(a['author'])}}, {{a['created_on']|datetime}}</span>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}

<hr />
<div id="issue_tree">
<div class="contextual">
</div>

<p><strong>Subtasks</strong></p>
  <table class="list issues">
    {% for i in issue_subtasks(issue) %}
    <tr class="issue issue-{{i.id}} hascontextmenu issue {{issue_classes(i)}} child">
      <td class="subject" style="width: 50%">
        <a class="issue {{issue_classes(i)}} child" href="{{issue_url(i)}}">{{i.tracker.name}} #{{i.id}}</a>: {{i.subject}}</td>
      <td class="status">{{i.status.name}}</td>
      <td class="assigned_to">{{link_to_user(i.assigned_to)}}</td>
      <td class="done_ratio">{{progress(i.done_ratio)}}<p class="percent">{{i.done_ratio}}</p></td>
    </tr>
    {% endfor %}
  </table>
</div>

<hr />
<div id="relations">
<div class="contextual">
</div>

{% if issue_has_relations(issue) %}
<p><strong>Related issues</strong></p>

<table class="list issues">
  {% for rel in issue_relations(issue) %}
    <tr class="issue hascontextmenu issue {{issue_classes(rel.other)}}" id="relation-{{rel.id}}">
    <td class="subject" style="width: 50%">
      {{rel.label}} {{issue.project.name}} - {{rel.other|issue(with_subject=True)}}
    </td>
    <td class="status">{% if rel.other.status %}{{rel.other.status.name}}{% endif %}</td>
    <td class="start_date">{% if rel.other.start_date %}{{rel.other.start_date}}{% endif %}</td>
    <td class="due_date">{% if rel.other.due_date %}{{rel.other.due_date}}{% endif %}</td>
    </tr>
  {% endfor %}
</table>
{% endif %}

</div>
</div>


<div id="history">
<h3>History</h3>
{% for journal in issue_journals(issue) %}
<div id="change-{{journal.id}}" class="{{journal_classes(journal)}}">
  <div id="note-{{journal.index}}">
    <h4>
      <a href="#note-{{journal.index}}" class="journal-link">#{{journal.index}}</a>
      Updated by {{link_to_user(journal.user)}} {{journal.created_on|datetime}}
      {% if journal.private_notes %}<span class="private">Private</span>{% endif %}
    </h4>

    {% if journal.details %}
    <ul class="details">
      {% for entry in journal.details %}
      <li>{{entry.label|safe}}</li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if journal.notes %}
    {{journal.notes|textile}}
    {% endif %}
  </div>
</div>
{% endfor %}

</div>


<div style="clear: both;"></div>
<div class="contextual">

</div>


<div style="clear: both;"></div>

    <div style="clear:both;"></div>
    </div>
</div>
</div>

<div id="footer">
  <div class="bgl"><div class="bgr">
      Powered by <b>redlab</b>, static rendering of <a href="https://www.redmine.org/">Redmine</a>
  </div></div>
</div>
</div>
</div>

</body>
</html>
